:root {
    --core-blue: #5bc0eb;
    --core-green: #9BC53D;
    --core-yellow: #FDE74C;
    --core-flame: #E55934;
    --core-orange: #FA7921;

    --boardPixel-size: 3vh;
}

html, body {
    height: 100%;
}

.mainBody {
    background-color: var(--core-green);
}